# Make sure that only index.php is called
DirectoryIndex name.php

RewriteEngine on

RewriteCond %{QUERY_STRING} =""
RewriteRule (.*) name.php?name=$1 [L]

RewriteCond %{REQUEST_FILENAME} !name.php$
RewriteCond %{QUERY_STRING} ^.+$
RewriteRule .* url.php [L,QSA]


# Forward dangerous paths to index.php
RewriteCond %{REQUEST_FILENAME} \.git/ [OR]
RewriteCond %{REQUEST_FILENAME} \.gitignore$ [OR]
RewriteCond %{REQUEST_FILENAME} \README.md$
RewriteRule . name.php [L]
